{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Entrenadores</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand">Entrenadores</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'equipo' %}">Equipo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inputEntrenador' %}">Ingresar Datos</a>
            </li>
        </div>
      </nav>
      <div style="width: 50px; height: 50px;"></div>
      <div style="width: 50px; height: 50px;"></div>
      <table class="table table-hover">
        <thead>
          <tr class="table-active">
            <th scope="col">Apellido</th>
            <th scope="col">Nombre</th>
            <th scope="col">DNI</th>
            <th scope="col">Telefono</th>
            <th scope="col">Club</th>
          </tr>
        </thead>
        {% for entrenador in entrenadores%}
        <tbody>
          <tr class="table-primary">
            <th scope="col">{{ entrenador.apellido}}</th>
            <th scope="col">{{entrenador.nombre}}</th>
            <th scope="col">{{entrenador.dni}}</th>
            <th scope="col">{{entrenador.telefono}}</th>
            <th scope="col">{{entrenador.equipo.club}}</th>
          </tr>
        </tbody>
        {% endfor %}
      </table>
</html>