{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grafica circular</title>
        <link rel="stylesheet" href="{% static 'css/EjemploGrafica.css' %}">
    </head>
  
    <h1>Grafica</h1>
    <section class="grafica">
        <div>
            <ul class="chart-skills">
                <li>
                  <span>Equipo1</span>
                </li>
                <li>
                  <span>Equipo2 </span>
                </li> 
        </div>
    </section>
</html>