{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Stadistic Player</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/admin/ ">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'equipo' %}">Equipo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'partidos' %}">Partido</a>
            </li>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
            <h6  class="nav-link show">|De los errores se aprende|</h6>
          </ul> 
        </div>
      </nav>
      <div style="width: 50px; height: 50px;"></div>
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Bienvenido</div>
        <div class="card-body">
          <h4 class="card-title">USER</h4>
      </div>
      <div>

      </div>
</html>