{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Partidos</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand">Partidos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inputPartido' %}">Ingresar Datos del Partido</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inputError' %}">Ingresar Datos de Errores</a>
            </li>
        </div>
      </nav>
      <div style="width: 50px; height: 50px;"></div>
      <h5>Partidos</h5>
      <table class="table table-hover">
        <thead>
          <tr class="table-active">
            <th scope="col" colspan="2">Fecha y Lugar</th>
            <td scope="col" colspan="2">Los clubes que jugaron</td>
            <th scope="col" colspan="9">Datos del Partido</th>
          </tr>
        </thead>
        {% for partido in partidos %}
        <tbody>
          <tr class="table-primary">
            <th >{{partido.fecha}}</th>
            <th >{{partido.lugar}}</th>
            <td>{{partido.equipo_1.club}}</td>
            <td>{{partido.equipo_2.club}}</td>
            <td id="line">{{partido.numLine}}</td>
            <td id="scrum">{{partido.numScrum}}</td>
            <td id="maul">{{partido.numMaul}}</td>
            <td id="ruck">{{partido.numRuck}}</td>
            <td id="conver">{{partido.numConversiones}}</td>
            <td id="drop">{{partido.numDrop}}</td>
            <td id="penal">{{partido.numPenales}}</td>
            <td id="pases">{{partido.cantPases}}</td>
            <td id="tacles">{{partido.numTacles}}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
      <div style="width: 50px; height: 50px;"></div>
      <h5>Errores</h5>
      <table class="table table-hover">
        <thead>
          <tr class="table-active">
            <th scope="col" colspan="1">Club</th>
            <th scope="col" colspan="4">Errores de los Fowers</th>
            <td scope="col" colspan="2">Errores de los 3/4'</td>
            <th scope="col" colspan="4">Errores de el Equipo</th>
          </tr>
        </thead>
        {% for error in errores %}
        <tbody>
          <tr class="table-primary">
            <th >{{error.equipo.club}}</th>
            <th >{{error.numLinePerdidos}}</th>
            <td>{{error.numScrumPerdidos}}</td>
            <td>{{error.numMaulErrados}}</td>
            <td>{{error.numRuckErrados}}</td>
            <td>{{error.numConversionesErrados}}</td>
            <td>{{error.numDropErrados}}</td>
            <td>{{error.numPenalesEnContra}}</td>
            <td>{{error.numPelotasCaidas}}</td>
            <td>{{error.numPaseFoword}}</td>
            <td>{{error.numTaclesErrados}}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
</html>