{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grafica circular</title>
        <link rel="stylesheet" href="{% static 'css/grafica.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/jquery-3.5.1.min.js'  %}" ></script>
    </head>
    <div>
      <a href="{% url 'partidos'%}" class="button3">volver</a>     
    </div>
    <div class="espacio1"></div>
    <h1>Porcentajes</h1>
    <section class="grafica">
      <div class="espacio2"></div>
      <div class="card-body">
        <label>Selecionar Partido</label>
        {{form}}
      </div>
      <div class="centrar">  
        <button class="btn btn-primary " id="line">Line</button>
        <button class="btn btn-primary " id="scrum">Scrum</button>
        <button class="btn btn-primary " id="maul">Maules</button> 
        <button class="btn btn-primary " id="ruck">Rucks</button>
        <button class="btn btn-primary " id="conver">Converciones</button>
        <button class="btn btn-primary " id="drop">Drops</button>  
        <button class="btn btn-primary" id="penal">Penales</button>
        <button class="btn btn-primary " id=pases>Pases</button>
        <button class="btn btn-primary " id="tacle">Tacles</abutton> 
      </div>
      <div class="espacio1"></div>
        <div>
            <p class="circular-progress"></p> 
        </div>
    </section>
    {% csrf_token %}
      <script type="text/javascript">
          $( document ).ready(function() {
              console.log( "termine!" );});
          $("#cboPartido").change(function () {
              var id = $(this).val();
              console.log(id);
              $.ajax({
              type: 'POST',
              url: "{% url 'test' %}",
              data: {"id": id,
              'csrfmiddlewaretoken': '{{ csrf_token }}'},
              success: function (response) {
                  if(!response['']){
                      console.log(response);
                      return response; //Response es el que trae los objetos tipo partido desde la views
                  }
              },
              error: function (response) {
                  console.log(response);
              }
          })
      });

      </script>
</html>