{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grafica circular</title>
        <link rel="stylesheet" href="{% static 'css/grafica.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        {% block extrajs %}
        <script>
          function Opcion(){
              var opciones = document.getElementById("opcion");
              var num = opcion.options[opcion.selectedIndex].value;
              console.log(num);        
              alert(num)     
              }
          $(select[id="opcion"]).on('change', function(){
            alert('x');
          })
        </script>
        {% endblock extrajs %}
    </head>
    <div>
      <a href="{% url 'partidos'%}" class="button3">volver</a>     
    </div>
    <div class="espacio1"></div>
    <h1>Porcentajes</h1>
    <section class="grafica">
      <div class="espacio2"></div>
      <div class="card-body">
        <select id="opcion">
          {% for partido in partidos %} 
          <option value="{{partido.idPartido}}">Partido N°{{partido.idPartido}}</option>
          {% endfor %}
        </select>
        <button onclick="Opcion()" class="btn btn-primary btn-sm">Selecionar Partido</button>
      </form>
      </div>
      <div>  
        {% for partido in partidos %}
          {% if partido.idPartido == form %}
          <a class="button3" value="{{partido.porcLine}}" >Line</a>
          <a class="button3" value="{{partido.porcScrum}}">Scrum</a>
          <a class="button3" value="{{partido.porcMaules}}">Maules</a> 
          <a class="button3" value="{{partido.porcRuck}}">Rucks</a>
          <a class="button3" value="{{partido.porcConver}}">Converciones</a>
          <a class="button3" value="{{partido.porcDrop}}">Drops</a>  
          <a class="button3" value="{{partido.porcPenales}}">Penales</a>
          <a class="button3" value="{{partido.porcPases}}">Pases</a>
          <a class="button3" value="{{partido.porcTacles}}">Tacles</a> 
          {% endif%}
        {% endfor %}
      </div>
      <div class="espacio1"></div>
        <div>
            <p class="circular-progress"></p> 
        </div>
    </section>
</html>